<br />
<%= form_for [@venue, @hall], :html => { :class => "ajax_form"} do |f| %>

<% 
  @hallTypes = getOptions('HallType')
  @pricingmodes = getOptions('HallPricingMode')
 %>

<div class="actions">
  <a id="cancelHallSlide" class="btn btn-success fr">Cancel</a>
  <%= f.submit "Save Changes", :class => 'btn btn-success fr', :id => "saveHallBtn" %>
</div>
<div id="venueHallEditContent" class="roundedBorder">
  <div class="field">
    <%= f.label(:name, "Hall Name:") %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label(:hall_type, "Hall Type:") %>
    <%= f.select(:hall_type, @hallTypes) %>
  </div>
  <div class="field">
    <%= f.label(:pricing_mode, "Pricing Mode:") %>
    <%= f.select(:pricing_mode, @pricingmodes) %>
  </div>
  <div class="field">
    <%= f.label(:hall_rent, "Hall Rent:") %>
    <%= f.text_field :hall_rent %>
  </div>
</div>
<% end %>
