<br />
<%= form_for [@venue, @hall], :remote =>true, :html => { :class => "ajax_form form-horizontal" }, :validate => true do |f| %>

<% 
@hallTypes = getOptions('HallType')
@pricingmodes = getOptions('HallPricingMode')
%>
<div class="roundedBorder">
	<div class="control-group">
		<%= f.label(:name, "Hall Name:", class:"control-label") %>
		<div class="controls"><%= f.text_field :name %></div>
	</div>
	<div class="control-group">
		<%= f.label(:hall_type, "Hall Type:", class:"control-label") %>
		<div class="controls"><%= f.select(:hall_type, @hallTypes) %></div>
	</div>
	<div class="control-group">
		<%= f.label(:pricing_mode, "Pricing Mode:", class:"control-label") %>
		<div class="controls"><%= f.select(:pricing_mode, @pricingmodes) %></div>
	</div>
	<div class="control-group">
		<%= f.label(:hall_rent, "Hall Rent:", class:"control-label") %>
		<div class="controls"><%= f.text_field :hall_rent %></div>
	</div>

	<div class="roundedBorder">
		<%= f.fields_for :seating_arrangement do |s| %>
		<div class="seating">
			<div class="row-fluid">
				<div class="span12">
					<div class="span4 offset1">
						<div class="controls span6"><%= image_tag 'theatre.png' %></div>
						<div class="controls span6">
							<%= s.text_field(:capacity_theatre, :class => "seatingCap") %>
						</div>
					</div>
					<div class="span4 offset2">
						<div class="controls span6"><%= image_tag 'ushape.png' %></div>
						<div class="controls span6">
							<%= s.text_field(:capacity_ushape, :class => "seatingCap") %>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4 offset1">
						<div class="controls span6"><%= image_tag 'doubleu.png' %></div>
						<div class="controls span6">
							<%= s.text_field(:capacity_doubleu, :class => "seatingCap") %>
						</div>
					</div>
					<div class="span4 offset2">
						<div class="controls span6"><%= image_tag 'classroom.png' %></div>
						<div class="controls span6">
							<%= s.text_field(:capacity_classroom, :class => "seatingCap") %>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4 offset1">
						<div class="controls span6"><%= image_tag 'board.png' %></div>
						<div class="controls span6">
							<%= s.text_field(:capacity_board, :class => "seatingCap") %>
						</div>
					</div>
					<div class="span4 offset2">
						<div class="controls span6"><%= image_tag 'roundtable.png' %></div>
						<div class="controls span6">
							<%= s.text_field(:capacity_roundtable, :class => "seatingCap") %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<br />
	<div class="actions">
		<a id="closeHallSlide" class="btn btn-success fr">Cancel</a>
		<%= f.submit "Save Changes", :class => 'btn btn-success fr' %>
	</div>
	<br />
</div>
<br />
<br />
<% end %>
