<h1>Function Spaces</h1>

	<% if @venue.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

	  <ul>
	    <% @venue.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>

<div id="venueHallGridContent">
	<table>
	  <tr>
	    <th>Hall Name</th>
	    <th>Hall Type</th>
	    <th>Pricing mode</th>
	    <th>Hall rent</th>
	    <th></th>
	  </tr>

	<% if @halls.empty? %>
    	<td colspan="7">No halls have been added so far.</td>
  	<% else %>
	<% for hall in @halls.each do %>
	  <tr>
	    <td><%= hall.name %></td>
	    <td><%= hall.hall_type %></td>
	    <td><%= hall.pricing_mode %></td>
	    <td><%= hall.hall_rent %></td>
	    <td><%= link_to 'Edit Hall', edit_venue_hall_path(@venue, hall), :remote => true, :class => 'hallFormLnk' %></td>
	  </tr>
	<% end %>
	<% end %>
	</table>
</div>


<%= link_to raw('<i class="glyphw icon-white icon-plus"></i>Add new function space'), {:action => 'new'}, remote: true, :class => "hallFormLnk btn btn-success" %>
<div id="addHallSlide">
	<%= render 'form', locals: { :venue => @venue } %>
</div>
