<h1>Listing halls</h1>

<table>
  <tr>
    <th>Venue</th>
    <th>Name</th>
    <th>Hall Type</th>
    <th>Pricing mode</th>
    <th>Hall rent</th>
  </tr>

<% @halls.each do |hall| %>
  <tr>
    <td><%= hall.venue %></td>
    <td><%= hall.name %></td>
    <td><%= hall.hall_type %></td>
    <td><%= hall.pricing_mode %></td>
    <td><%= hall.hall_rent %></td>
  </tr>
<% end %>
</table>

<br />
