<p id="notice"><%= notice %></p>

<p>
  <b>Venue:</b>
  <%= @hall.venue.name %>
</p>

<p>
  <b>Name:</b>
  <%= @hall.name %>
</p>

<p>
  <b>Hall Type:</b>
  <%= @hall.hall_type %>
</p>

<p>
  <b>Pricing mode:</b>
  <%= @hall.pricing_mode %>
</p>

<p>
  <b>Hall rent:</b>
  <%= @hall.hall_rent %>
</p>

