<% content_for :title, "Edit Profile" %>
<div class="row-fluid">
	<div class="span12">
		<h2>Edit your profile</h2>

		<%= form_for(@user, :url => registration_path(@user), :html => { :method => :put, :class => "form-horizontal"}) do |f| %>
		<%= devise_error_messages! %>

		<div class="control-group">
			<%= f.label :email, class:"control-label" %>
			<div class="controls"><%= f.email_field :email, :autofocus => true %></div>
			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
			<% end %>
		</div>
		<div class="control-group">
			<%= f.label :name, class:"control-label" %>
			<div class="controls"><%= f.text_field :name %></div>
		</div>
		<div class="control-group">
			<%= f.label :mobile, class:"control-label" %>
			<div class="controls"><%= f.text_field :mobile %></div>
		</div>

		<div class="control-group">
			<%= f.label :current_password, class:"control-label" %>
			<div class="controls"><%= f.password_field :current_password %> <i>(we need your current password to confirm your changes)</i>
			</div>
		</div>

		
		<%= link_to raw('<i class="icon-white icon-pencil"></i> Change Password'), '#', :class => "offset4 btn", :id=> "activateChangePassword" %>
		<div id="changePassDiv">
			<div class="control-group">
				<%= f.label :password, "New Password", class:"control-label" %>
				<div class="controls"><%= f.password_field :password, :autocomplete => "off" %> <i>(leave blank if you don't want to change it)</i>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :password_confirmation, class:"control-label" %>
				<div class="controls"><%= f.password_field :password_confirmation %></div>
			</div>
		</div>

		<div class="actions"><%= f.submit "Update", :class => "btn btn-success" %></div>
		<% end %>
	</div>
</div>
