<section id = "adminNav" class="adminDashboard">
	<div class="navbar">
		<div class="navbar-inner">
			<%= link_to "Admin Dashboard", admin_path, :class => "brand" %>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<li><%= link_to "Users", admin_users_path, :remote => true %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to "Venues", admin_venues_path, :remote => true %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to "Requests", admin_users_path, :remote => true %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to "Feedbacks", admin_users_path, :remote => true %></li>
				<li class="divider-vertical"></li>
			</ul>
		</div>
	</div>

	<div id="adminContent">
	</div>
</section>