<h1>Venue Pricing</h1>

<%= form_for @venue, :remote => true, :validate => true, :html => { :class => "ajax_form form-horizontal"} do |f| %>
<%= f.fields_for :rate do |r| %>
<div id="venueRateContent" class="roundedBorder">
	<div class="control-group">
		<%= r.label(:veg_plate_cost, "Cost/veg plate:", class:"control-label") %>
		<div class="controls"><%= r.text_field :veg_plate_cost %></div>
	</div>

	<div class="control-group">
		<%= r.label(:nonveg_plate_cost, "Cost/non-veg plate:", class:"control-label") %>
		<div class="controls"><%= r.text_field :nonveg_plate_cost %></div>
	</div>
  
	<div class="control-group">
		<%= r.label(:snack_plate_cost, "Cost/snack plate:", class:"control-label") %>
		<div class="controls"><%= r.text_field :snack_plate_cost %></div>
	</div>
  
	<div class="control-group">
		<%= r.label(:drinks_cost, "Cost/drink:", class:"control-label") %>
		<div class="controls"><%= r.text_field :drinks_cost %></div>
	</div>

	<%#*<div class="control-group">%>
		<%#= r.label(:min_total_budget, "Min budget:", class:"control-label") %>
		<%#*<div class="controls">%>
                  <%#= r.text_field :min_total_budget %>
                <%#*</div>%>
	<%#*</div>%>

	<%#*<div class="control-group">%>
		<%#= r.label(:max_total_budget, "Max budget:", class:"control-label") %>
		<%#*<div class="controls">%>
                  <%#= r.text_field :max_total_budget %>
                <%#*</div>%>
	<%#*</div>%>	
</div>
<% end %>
<br />
<div id="venueTermsContent" class="roundedBorder">
	<div class="field">
		<%= f.label(:terms_conditions, "Mention the terms and conditions of your venue:") %>
		<%= f.text_area(:terms_conditions, :rows => 10, :class => "field span12") %>
	</div>
</div>
<br />
<div id="venuePaymentPolicy" class="roundedBorder">
	<div class="field">
		<%= f.label(:payment_policy, "Mention the payment, cancellation and refund policies of your venue:") %>
		<%= f.text_area(:payment_policy, :rows => 10, :class => "field span12") %>
	</div>
</div>
<br />
<div class="actions">
	<%= f.submit "Save Changes", :class => "btn btn-success fr" %>
</div>
<br />
<% end %>