<h1>Venue Highlights</h1>
<% @highlights = @venue.highlights %>
<%= form_for @venue, :remote => true, :html => { :class => "ajax_form form-horizontal"} do |f| %>

<div class="actions">
	<%= f.submit "Save Changes", :class => "btn btn-success fr" %>
</div>


<div class="row-fluid">
	<div class="span12">
		<% @highlights.each_with_index do |h, i| %>
			<div class="control-groups">
				<label class="control-label"><%='Highlight '+ (i+1).to_s + ':' %></label>
				<div class="controls"><%= text_field_tag 'highlights[]', h.highlight %></div>
			</div>
		<%end%>
		<% (@highlights.size..5).each do |i| %>
  			<div class="control-groups">
				<label class="control-label"><%='Highlight '+ (i+1).to_s + ':' %></label>
				<div class="controls"><%= text_field_tag 'highlights[]' %></div>
			</div>	
		<%end%>
	</div>
</div>

<%end%>