<h1>Venue Amenities</h1>

<%= form_for @venue, :remote => true, :html => { :class => "ajax_form form-horizontal"} do |v| %>
<%= v.fields_for :facility do |f| %>
<div class="row-fluid">
	<div class="span12">
		<div class="control-groups">
			<div class="controls span6">
				<%= f.label :has_parking, class: "checkbox" do %>
				Has parking? <%= f.check_box :has_parking %>
				<% end %>
				<%= f.label :has_buffet, class: "checkbox" do %>
				Has buffet? <%= f.check_box :has_buffet %>
				<% end %>
			</div>
		</div>
		<div class="control-groups">
			<div class="controls span6">
				<%= f.label :is_alcohol_allowed, class: "checkbox"  do %>
				Is Alcohol allowed? <%= f.check_box :is_alcohol_allowed %>
				<% end %>
				<%= f.label :is_nonveg_allowed , class: "checkbox" do %>
				Is Non-Veg allowed? <%= f.check_box :is_nonveg_allowed %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
<br />
<div class="actions">
	<%= v.submit "Save Changes", :class => "btn btn-success fr" %>
</div>
<br />
<% end %>