<h3>Feedbacks</h3>
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Subject</th>
		<th>Feedback</th>
		<th>Date</th>
		<th>User IP</th>
		<th></th>
	</tr>
	<% @feedbacks.each do |feedback| %>
	<tr>
		<td><%= feedback.name %></td>
		<td><%= feedback.email %></td>
		<td><%= feedback.subject %></td>
		<td><%= feedback.feedback %></td>
		<td><%= feedback.created_at %></td>
		<td><%= feedback.user_ip %></td>
		<td><%= link_to raw('<i class="icon-trash"></i>'), admin_feedback_path(request), method: :delete, data: { confirm: 'Are you sure you want to delete this feedback?' } %></td>
	</tr>
	<% end %>
</table>
<div class="flickr_pagination">
	<%= paginate @feedbacks, :container => false %>
</div>