<%= form_for(@seating_arrangement) do |f| %>
  <% if @seating_arrangement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seating_arrangement.errors.count, "error") %> prohibited this seating_arrangement from being saved:</h2>

      <ul>
      <% @seating_arrangement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hall %><br />
    <%= f.text_field :hall %>
  </div>
  <div class="field">
    <%= f.label :arrangement_type %><br />
    <%= f.text_field :arrangement_type %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
