<h1>Venue Amenities</h1>

<%= form_for [@venue, @facility], :html => { :class => "ajax_form"} do |f| %>
  <% if @facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% @facility.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="user_message"></div>

  <div class="actions">
    <%= f.submit "Save Changes", :class => "btn btn-success fr" %>
  </div>

<div id="venueAmenitiesContent">
  <div class="field">
    <%= f.label :has_parking %>
    <%= f.check_box :has_parking %>
  </div>
  <div class="field">
    <%= f.label :has_buffet %>
    <%= f.check_box :has_buffet %>
  </div>
  <div class="field">
    <%= f.label :is_alcohol_allowed %>
    <%= f.check_box :is_alcohol_allowed %>
  </div>
  <div class="field">
    <%= f.label :is_nonveg_allowed %>
    <%= f.check_box :is_nonveg_allowed %>
  </div>
</div>
<% end %>
