<p id="notice"><%= notice %></p>

<p>
  <b>Venue:</b>
  <%= @facility.venue %>
</p>

<p>
  <b>Has parking:</b>
  <%= @facility.has_parking %>
</p>

<p>
  <b>Has buffet:</b>
  <%= @facility.has_buffet %>
</p>

<p>
  <b>Is alcohol allowed:</b>
  <%= @facility.is_alcohol_allowed %>
</p>

<p>
  <b>Is nonveg allowed:</b>
  <%= @facility.is_nonveg_allowed %>
</p>


<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
