<% content_for :title, "Benefits for Venue Owners" %>
<div id="benefits" class="row-fluid">
	<div class="offset1 span10">
		<p><br /></p>
		<h1>Benefits for Venue Owners</h1>
		<ul>
			<li>As part of our initial survey to understand the pain point faced by Venue owners, it was disheartening to know that most venues were less utilized than they were capable of. The reason for this was attributed to lesser occupancy, ineffective marketing efforts and difficulty in managing customer relationships.</li>
			<li>JollyEventz thought about this for quite some time and came up with a solution that brings additional bookings to venues. JollyEventz provides a bouquet of benefits to the venue owner depending on the subscription plan being chosen.</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-left"><%= image_tag('benefit_owner1.png', :size => "132x133") %></div>
			<div class="benefit-text text-right">
				<h3 class="benefit-title">Own Attractive Profiles</h3>
				<ul><li>JollyEventz displays information about your venue using a well-designed profile that includes photos, capacity, amenities, location information and also pricing.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-right"><%= image_tag('benefit_owner2.png', :size => "132x133") %></div>
			<div class="benefit-text text-left">
				<h3 class="benefit-title">Set Your price</h3>
				<ul><li>You can update  your profile and pricing as and when you wish to. We only display rates specified  in your profile.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-left"><%= image_tag('benefit_owner3.png', :size => "132x133") %></div>
			<div class="benefit-text text-right">
				<h3 class="benefit-title">Extra Event Bookings</h3>
				<ul><li>As our visitors grow, you get to access more potential customers. This means you get more bookings and in turn more revenue at a minimum budget.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-right"><%= image_tag('benefit_owner4.png', :size => "132x133") %></div>
			<div class="benefit-text text-left">
				<h3 class="benefit-title">Start with our Free plan</h3>
				<ul><li>JollyEventz has a free plan for Venue owners to evaluate our service. We charge you a small fee only when you receive a booking through us. Save your time and money.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-left"><%= image_tag('benefit_owner5.png', :size => "132x133") %></div>
			<div class="benefit-text text-right">
				<h3 class="benefit-title">Reviews & Ratings</h3>
				<ul><li>JollyEventz helps you receive feedback from your past customers through reviews and ratings. This is valuable to new customers who would like to try out your venue for their upcoming event.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-right"><%= image_tag('benefit_owner6.png', :size => "132x133") %></div>
			<div class="benefit-text text-left">
				<h3 class="benefit-title">Anytime Support</h3>
				<ul><li>Call us or reach out to us for any help right from updating your profile to managing your account or bookings. JollyEventz team is always there at your service.</li></ul>
			</div>
		</div>
	</div>
</div>
<br /><br /><br /><br />
