<% content_for :title, "Benefits for Event Planners" %>
<div id="benefits" class="row-fluid">
	<div class="offset1 span10">
		<p><br /></p>
		<h1>Benefits for Event Planners</h1>
		<ul>
			<li>Finding the right venue space within budget, location, size and excellent facilities can be the toughest part of planning an event.</li>
			<li>We know how painful it is to hunt for venues- right from searching the internet, finding contacts, calling each venue to gather information about size, price and later spending hours visiting the venue to sign contracts and more.</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-left"><%= image_tag('benefit_planner1.png', :size => "132x133") %></div>
			<div class="benefit-text text-right">
				<h3 class="benefit-title">Find your perfect venue</h3>
				<ul><li>Forget several visits and unlimited phonecalls to find a venue. Dig into our  exhaustive list and find your perfect place.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-right"><%= image_tag('benefit_planner2.png', :size => "132x133") %></div>
			<div class="benefit-text text-left">
				<h3 class="benefit-title">Book your Venue smartly</h3>
				<ul><li>Anytime, Anywhere just visit JollyEventz to view a venue, its photos, availability and instantly book it. Avail exiting offers.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-left"><%= image_tag('benefit_planner3.png', :size => "132x133") %></div>
			<div class="benefit-text text-right">
				<h3 class="benefit-title">Review & Recommend</h3>
				<ul><li>After your event, don't forget to write your review and rate the space. Also recommend the venue to friends/family.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-right"><%= image_tag('benefit_planner4.png', :size => "132x133") %></div>
			<div class="benefit-text text-left">
				<h3 class="benefit-title">Hassle Free Bookings</h3>
				<ul><li>We connect you directly with the Venue's manager. JollyEventz organises the booking process and assure you a hassle free booking.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-left"><%= image_tag('benefit_planner5.png', :size => "132x133") %></div>
			<div class="benefit-text text-right">
				<h3 class="benefit-title">Absolutely free to use</h3>
				<ul><li>We provide you all information on a variety of venues, at no cost .You only have to pay for the venue being booked. No extra fee.</li></ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="offset2 span9">
		<div class="benefit-container">
			<div class="benefit-img-right"><%= image_tag('benefit_owner6.png', :size => "132x133") %></div>
			<div class="benefit-text text-left">
				<h3 class="benefit-title">Save time and effort</h3>
				<ul><li>Finding a venue takes 50% of your event planning schedule. Good thing you are here, JollyEventz saves your time and effort.</li></ul>
			</div>
		</div>
	</div>
</div>
<br /><br /><br /><br />
