<div class="hero-unit" id="homeHeading">
	<h2>Spending too much time searching for a venue? Relax, we'll find the right place for any event!</h2>
</div>

<%= form_tag({controller: "venues", action: "search"}, method: "get") do %>
<div id="searchArea">
	<div class="pull-right">
		<% @searchOptions = populateSearchCriteria %>
		<%= select_tag(:eventType, options_for_select(@searchOptions.eventType), {class: "selectpicker"}) %>
		<%= select_tag(:areas, options_for_select(@searchOptions.areas), {class: "selectpicker"}) %>
		<%= submit_tag("Search Venues", {id: "searchButton", class: "btn-info btn-large", :name => nil}) %>
	</div>
</div>
<% end %>

<div id="listVenueMsg" class="row-fluid">
	<hr />
	<h3>Do you have space for conducting events? <em><%= link_to "List your venue!", new_venue_path %></em> &gt;&gt; Receive more bookings!!</h3>
	<hr />
</div>
<div id="featuredVenues" class="row-fluid">
	<h4>Featured Venues in Chennai for weddings, birthdays, conferences, meetings & more!!</h4>
	<ul class="span11 bxslider">
		<li>
			<%= link_to image_tag('1.jpg', :title => "Image ONE - 1"), {:controller => "pages", :action => "placeholder", :target => "_blank"} %>
		</li>
		<li>
			<%= link_to image_tag('2.jpg', :title => "Image TWO - 2"), {:controller => "pages", :action => "placeholder", :target => "_blank"} %>
		</li>
		<li>
			<%= link_to image_tag('3.jpg', :title => "Image THREE - 3"), {:controller => "pages", :action => "placeholder", :target => "_blank"} %>
		</li>
		<li>
			<%= link_to image_tag('4.jpg', :title => "Image FOUR - 4"), {:controller => "pages", :action => "placeholder", :target => "_blank"} %>
		</li>
		<li>
			<%= link_to image_tag('5.jpg', :title => "Image FIVE - 5"), {:controller => "pages", :action => "placeholder", :target => "_blank"} %>
		</li>
	</ul>
</div>
