<h1>Basic Venue Information</h1>

<%= form_for @venue, :html => { :class => "ajax_form"} do |f| %>

<% if @venue.errors.any? %>
<div id="error_explanation">
	<h4><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h4>
	<ul>
		<% @venue.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div id="user_message"></div>

<div class="actions">
	<%= f.submit "Save Changes", :class => "btn btn-success fr" %>
</div>

<div>
	<%= image_tag url_for(:controller => "venues", :action => "show_image", :id => @venue.id) %>
</div>

<div id="venueBasicContent">
	<div class="field">
		<%= f.label(:name, "Venue Name:") %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label(:venue_type, "Venue Type:") %>
		<%= f.text_field :venue_type %>
	</div>

	<div class="field">
		<%= f.label(:base_image, "Venue Image:") %>
		<%= f.file_field :base_image%>
	</div>

	<%= f.fields_for :address do |a| %>

	<div class="field">
		<%= a.label(:address, "Address:") %>
		<%= a.text_field :address %>
	</div>
	
	<div class="field">
		<%= a.label(:area, "Area:") %>
		<%= a.text_field :area %>
	</div>

	<% end %>

	<div class="field">
		<%= f.label(:website, "Website:") %>
		<%= f.text_field :website %>
	</div>

	<%= f.fields_for :contact do |c| %>
	<div class="roundedBorder">
		<div class="field">
			<%= c.label(:firstname, "Contact Person:") %>
			<%= c.text_field :firstname, :class => "contactname" %>
			<%= c.text_field :lastname, :class => "contactname" %>
		</div>
		<div class="field">
			<%= c.label(:email, "Email:") %>
			<%= c.text_field :email %>
		</div>
		<div class="field">
			<%= c.label(:landline_number, "Landline #:") %>
			<%= c.text_field :landline_number %>
		</div>
		<div class="field">
			<%= c.label(:mobile_number, "Mobile #:") %>
			<%= c.text_field :mobile_number %>
		</div>
	</div>
	<% end %>
	<div id="user_message"></div>
</div>

<% end %>