<div class="row-fluid">
  <ul id="venueEditNav" class="nav nav-pills nav-stacked span3">
    <% if @venue.new_record? %>
      <li class="active"><a href="#">Basic Information</a></li>
      <li><a href="#" class='disabledLinkForNew'>Function Spaces</a></li>
      <li><a href="#" class='disabledLinkForNew'>Pricing & Terms</a></li>
      <li><a href="#" class='disabledLinkForNew'>Amenities</a></li>
      <li><a href="#" class='disabledLinkForNew'>Highlights</a></li>
      <li><a href="#" class='disabledLinkForNew'>Images</a></li>
    <% else %>
      <li class="active"><%= link_to 'Basic Information', edit_venue_path(@venue), remote: true %></li>
      <li><%= link_to 'Function Spaces', venue_halls_path(@venue), remote: true %></li>
      <li><%= link_to 'Pricing & Terms', rates_venue_path(@venue), remote: true %></li>
      <li><%= link_to 'Amenities', facilities_venue_path(@venue), remote: true %></li>
      <li><%= link_to 'Highlights', highlights_venue_path(@venue), remote: true %></li>
      <li><%= link_to 'Images', images_venue_path(@venue), remote: true %></li>
    <% end %>  
  </ul>
  <div class="span7">
    <div id="venueEditContent" class="venueContent">
      <%= render partial: 'venues/basic/form', locals: { :venue => @venue } %>
    </div>
  </div>
</div>