<%= form_for @venue do |venue_form| %>
<% if @venue.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

	<ul>
		<% @venue.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= venue_form.label :Name, 'Venue Name:' %><br />
	<%= venue_form.text_field :Name %>
	<%= venue_form.label :Type, 'Venue Type:' %><br />
	<%= venue_form.text_field :Type %>
	<%= venue_form.label :NumHalls, '# Event Halls:' %><br />
	<%= venue_form.text_field :NumHalls %>
</div>

<%= venue_form.fields_for :address do |address_form| %>
<p>
	<div>
		<%= address_form.label :Address, 'Address:' %>
		<%= address_form.text_field :Address %>
		<%= address_form.label :Landmark, 'Landmark:' %>
		<%= address_form.text_field :Landmark %>
		<%= address_form.label :Location, 'Location:' %>
		<%= address_form.text_field :Location %>
		<%= address_form.label :PhoneNumbers, 'Phone Number(s):' %>
		<%= address_form.text_field :PhoneNumbers %>
	</div>
</p>
<% end %>

<div class="actions">
	<%= venue_form.submit %>
</div>
<% end %>
