<%= form_for @venue do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span2"></div>
    <ul id="venueEditNav" class="nav nav-pills nav-stacked span3">
      <li class="active"><a href="#">Basic Information</a></li>
      <li><a href="#">Function Spaces</a></li>
      <li><a href="#">Pricing & Terms</a></li>
      <li><a href="#">Amenities</a></li>
      <li><a href="#">Account Settings</a></li>
    </ul>
    <div class="span6">
      <div class="venueBasic">
        <%= render "basic", :f => f %>
      </div>

      <div class="venueHalls">
        <%= render "halls", :f => f %>
      </div>

      <div class="venuePricing">
        <%= render "pricing", :f => f %>
      </div>

      <div class="venueAmenities">
        <%= render "amenities", :f => f %>
      </div>

      <div class="accountSettings">
        <%= render "settings", :f => f %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>

<% end %>
