<h1>Function Spaces</h1>

	<% if @venue.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

	  <ul>
	    <% @venue.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>

<a id="addHallLnk" class="btn btn-success"><i class="glyphw icon-white icon-plus"></i> Add new function space</a>

<div id="addHallSlide">
	<br />
	<%= form_for @hall do |f| %>
	<div class="actions">
		<a id="cancelHallSlide" class="btn btn-success fr">Cancel</a>
		<%= f.submit "Save Changes", :class => 'btn btn-success fr' %>
	</div>
	<div id="venueHallEditContent" class="roundedBorder">
		<div class="field">
			<%= f.label(:name, "Hall Name:") %>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label(:hall_type, "Hall Type:") %>
			<%= f.text_field :hall_type %>
		</div>
		<div class="field">
			<%= f.label(:pricing_mode, "Pricing Mode:") %>
			<%= f.text_field :pricing_mode %>
		</div>
		<div class="field">
			<%= f.label(:hall_rent, "Hall Rent:") %>
			<%= f.text_field :hall_rent %>
		</div>
	</div>
	<% end %>
</div>

<div id="venueHallGridContent">
	<table>
	  <tr>
	    <th>Hall Name</th>
	    <th>Hall Type</th>
	    <th>Pricing mode</th>
	    <th>Hall rent</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% for hall in @venue.halls.each do %>
	  <tr>
	    <td><%= hall.name %></td>
	    <td><%= hall.hall_type %></td>
	    <td><%= hall.pricing_mode %></td>
	    <td><%= hall.hall_rent %></td>
	    <td><%= link_to 'Show', hall %></td>
	    <td><%= link_to 'Edit (id to be updated)', {:action => "edit_halls", :id => 0} %></td>
	    <td><%= link_to 'Destroy', hall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>
</div>