<br />
<%= form_for [@venue, @hall], :html => { :class => "ajax_form"} do |f| %>
<div class="actions">
	<a id="cancelHallSlide" class="btn btn-success fr">Cancel</a>
	<%= f.submit "Save Changes", :class => 'btn btn-success fr' %>
</div>
<div id="venueHallEditContent" class="roundedBorder">
	<div class="field">
		<%= f.label(:name, "Hall Name:") %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label(:hall_type, "Hall Type:") %>
		<%= f.text_field :hall_type %>
	</div>
	<div class="field">
		<%= f.label(:pricing_mode, "Pricing Mode:") %>
		<%= f.text_field :pricing_mode %>
	</div>
	<div class="field">
		<%= f.label(:hall_rent, "Hall Rent:") %>
		<%= f.text_field :hall_rent %>
	</div>
</div>
<% end %>