<div id="query" class="query_param_div">
	<span id="query_title" style="font-weight:bold;">
		<%= unless @query.areas.count == 0 
			'Areas: '
		end %>
	</span>
	<% @query.areas.each do |a| %>
		<span class="query_param"><%= a %> </span>
	<% end %>
</div>
<div id="query" class="query_param_div">
	<span id="query_title" style="font-weight:bold;">
		<%= unless @query.capacity.count == 0 
			'Capacity: '
		end %>
	</span>
	<% @query.capacity.each do |a| %>
		<span class="query_param"><%= a %> </span>
	<% end %>
</div>
<div id="query" class="query_param_div">
	<span id="query_title" style="font-weight:bold;">
		<%= unless @query.budget.count == 0 
			'Budget: '
		end %>
	</span>
	<% @query.budget.each do |a| %>
		<span class="query_param"><%= a %> </span>
	<% end %>
</div>
<div id="query" class="query_param_div">
	<span id="query_title" style="font-weight:bold;">
		<%= unless @query.amenities_name.count == 0 
			'Amenities: '
		end %>
	</span>
	<% @query.amenities_name.each do |a| %>
		<span class="query_param"><%= a %> </span>
	<% end %>
</div>
</br>


<% @venue.each do |c| %>
<div class="SearchResults">
	<%= unless c.base_image.nil? 
		image_tag url_for(:controller => "venues", :action => "show_image", :id => c.id), :class => "venue-img"
	else 
		 image_tag('3.jpg', :class => "venue-img") 
	end %>
	<div style="margin-left:190px">
		<h3><%= c.name %>  |  Luxury business hotel</h3>
		<div>
			<%= image_tag('parking.png', :class => "venue-icons") %>
			<%= image_tag('nv.png', :class => "venue-icons") %>
			<%= image_tag('alcohol.png', :class => "venue-icons") %>
			<%= image_tag('credcard.png', :class => "venue-icons") %>
			<%= image_tag('restaurant.png', :class => "venue-icons") %>
		</div>
		<p class="address"><%= c.address.address %>, <%= c.address.area %></p>

		<p class="capacity"><%= c.min_capacity %>-<%= c.min_capacity %></p>
		<p class="address">Landmark : <%= c.address.landmark %></p>

		<div style="margin-top:15px;position:relative;">
			<p><a href="#" class="btn btn-primary btn-small search-button">View venue</a></p>
		</div>
		<p class="numRooms"><%= c.num_halls %> rooms</p><br />
	</div>
</div>
<% end %>

<div class="SearchResults">
	<%= image_tag('3.jpg', :class => "venue-img") %>

	<div style="margin-left:190px">
		<h3>Ambika Empire  |  Luxury business hotel</h3>
		<div>
			<%= image_tag('parking.png', :class => "venue-icons") %>
			<%= image_tag('nv.png', :class => "venue-icons") %>
			<%= image_tag('alcohol.png', :class => "venue-icons") %>
			<%= image_tag('credcard.png', :class => "venue-icons") %>
			<%= image_tag('restaurant.png', :class => "venue-icons") %>
		</div>
		<p class="address">#71, Nehru Salai, Vadapalani</p>

		<p class="capacity"> Up to 100</p>
		<p class="address">Landmark : Vadapalani Junction</p>

		<div style="margin-top:15px;position:relative;">
			<p><a href="#" class="btn btn-primary btn-small search-button">View venue</a></p>
			<p><a href="#" class="btn btn-primary btn-small search-button">? Enquiry</a></p>
			<p><a href="#" class="btn btn-primary btn-small search-button">Book now</a></p>
		</div>
		<p class="numRooms">3 rooms</p><br />
	</div>
</div>
<div class="SearchResults">

	<%= image_tag('2.jpg', :class => "venue-img") %>

	<div style="margin-left:190px">
		<h3>GRT Grand  |  Business hotel</h3>
		<div>
			<%= image_tag('parking.png', :class => "venue-icons") %>
			<%= image_tag('nv.png', :class => "venue-icons") %>
			<%= image_tag('alcohol.png', :class => "venue-icons") %>
			<%= image_tag('credcard.png', :class => "venue-icons") %>
			<%= image_tag('restaurant.png', :class => "venue-icons") %>
			<p class="address">#42, Panagal Park, T Nagar</p>
		</div>
		<div>
			<p class="capacity"> Up to 300</p>
			<p class="address">Landmark : Near Pothys</p>
		</div>
		<div style="margin-top:15px;position:relative;">
			<p><a href="#" class="btn btn-primary btn-small search-button">View venue</a></p>
			<p><a href="#" class="btn btn-primary btn-small search-button">? Enquiry</a></p>
			<p><a href="#" class="btn btn-primary btn-small search-button">Book now</a></p>
			<p class="numRooms">1 room</a></p><br />
		</div>
	</div>
</div>
