<% content_for :title, "Search" %>
<% @hallTypes = getOptions('HallType') %>
<%= hidden_field_tag 'page_number', @query.page_number %>
<%= hidden_field_tag 'total_count', @count %>
<div class="navigation">
	<%= (((@query.page_number.to_i-1)*10)+1).to_s + ' to ' +  [@query.page_number.to_i*10, @count].min.to_s + ' of ' + @count.to_s  unless @count == 0 %>
	<% if @count > 10%>
		<% if @query.page_number.to_i == 1 %>
			<a href="#" class="btn btn-primary btn-small nav-button disabled" style="pointer-events: none;cursor: default;">&lt; Prev</a>
		<% else %>
			<a href="#" class="btn btn-primary btn-small nav-button" onclick="prev_click();" >&lt; Prev</a>
		<% end %>
		<% if (@query.page_number.to_i*10)>=@count %>
			<a href="#" class="btn btn-primary btn-small nav-button disabled" style="pointer-events: none;cursor: default;" >Next &gt;</a>
		<% else %>
			<a href="#" class="btn btn-primary btn-small nav-button" onclick="next_click();" >Next &gt;</a>
		<% end %>
	<% end%>
</div>
	
<div class="query_param_div">
	<span class="query_title" >
		<%= 'Areas: ' unless @query.areas.count == 0 %>
	</span>
	<% @query.areas.each do |a| %>
	<span class="query_param"><%= a %> 
		<div class='circle'>
		  <a href="#" onclick=<%= "remove_filter('#chk_area_" + a.gsub(/[\s\.\/]+/, "") + "');" %>>x</a>
		</div>
	</span>
	<% end %>
</div>
<div class="query_param_div">
	<span class="query_title" >
		<%= 'Halls: ' unless @query.halltype.count == 0 %>
	</span>
	<% @query.halltype.each do |a| %>
	<span class="query_param"><%= a %> 
		<div class='circle'>
		  <a href="#" onclick=<%= "remove_filter('#chk_ht_" + a.gsub(/[\s\.\/]+/, "") + "');" %>>x</a>
		</div>
	</span>
	<% end %>
</div>
<div class="query_param_div">
	<span class="query_title">
		<%= 'Capacity: ' unless @query.capacity.count == 0 %>
	</span>
	<% @query.capacity.each do |a| %>
	<span class="query_param"><%= a %> 
		<div class='circle'>
		  <a href="#" onclick=<%= "remove_filter('#chk_cap_" + a.gsub(/[\s\.\/]+/, "") + "');" %>>x</a>
		</div>
	</span>
	<% end %>
</div>
<div class="query_param_div">
	<span class="query_title">
		<%= 'Budget: ' unless @query.budget.count == 0 %>
	</span>
	<% @query.budget.each do |a| %>
	<span class="query_param"><%= a %> 
		<div class='circle'>
		  <a href="#" onclick=<%= "remove_filter('#chk_bud_" + a.gsub(/[\s\.\/]+/, "") + "');" %>>x</a>
		</div>
	</span>
	<% end %>
</div>
<div class="query_param_div">
	<span class="query_title">
		<%= 'Amenities: ' unless @query.amenities_name.count == 0 %>
	</span>
	<% @query.amenities_name.each do |a| %>
	<span class="query_param"><%= a %>
		<div class='circle'>
		  <a href="#" onclick=<%= "remove_filter('#chk_am_" + a.gsub(/[\s\.\/]+/, "") + "');" %>>x</a>
		</div>
	 </span>
	<% end %>
</div>
<br />


<%= if @venue.count == 0
	'No results found matching your search criteria...'
end 
%>

<div id="results">
	<% @venue.each do |c| %>
	<div class="SearchResults">
		<%= unless c.base_image.nil? 
			image_tag url_for(:controller => "venues", :action => "show_image", :id => c.id), :class => "venue-img top10"
		else 
			image_tag('venue.jpg', :class => "venue-img top10") 
		end 
		%>
		<div style="margin-left:190px">
			<h3>
				<span class="fr"><%= c.address.area %></span>
				<span>
                                  <%#= link_to(c.name, venue_path(c), :rel => "modal:open", :id=>"show_modal")%>
                   <%= c.name %>
            		<%= image_tag('verify.png') if c.is_verified %>
                </span>
			</h3>
		
			<div class="venue-icons-div">
				<% @amenities_count = 0 %>
				<% if c.facility != nil && c.facility.has_buffet? %>
					<%= image_tag('restaurant.png', :class => "venue-icons", :title=>'Restaurant', :alt=>'Restaurant') %>
					<% @amenities_count = @amenities_count + 1 %>
				<% end %>
				<% if c.facility != nil && c.facility.is_alcohol_allowed? %>
					<%= image_tag('alcohol.png', :class => "venue-icons", :title=>'Alcohol', :alt=>'Alcohol') %>
					<% @amenities_count = @amenities_count + 1 %>
				<% end %>
				<% if c.facility != nil && c.facility.has_parking? %>
					<%= image_tag('parking.png', :class => "venue-icons", :title=>'Parking', :alt=>'Parking') %>
					<% @amenities_count = @amenities_count + 1 %>
				<% end %>
				<% if c.facility != nil && c.facility.is_nonveg_allowed? %>
					<%= image_tag('nv.png', :class => "venue-icons", :title=>'Non-veg', :alt=>'Non-veg') %>
					<% @amenities_count = @amenities_count + 1 %>
				<% end  %>
				<% if c.facility != nil && c.facility.has_wifi_or_internet? %>
					<%= image_tag('wifi.png', :class => "venue-icons", :title=>'WiFi', :alt=>'WiFi') %>
					<% @amenities_count = @amenities_count + 1 %>
				<% end  %>
				<% if c.facility != nil && c.facility.has_stage? && @amenities_count < 5 %>
					<%= image_tag('stage.jpg', :class => "venue-icons", :title=>'Stage', :alt=>'Stage') %>
					<% @amenities_count = @amenities_count + 1 %>
				<% end  %>
				<% if c.facility != nil && c.facility.has_dance_floor? && @amenities_count < 5 %>
					<%= image_tag('dj.jpg', :class => "venue-icons", :title=>'Dance Floor', :alt=>'Dance Floor') %>
					<% @amenities_count = @amenities_count + 1 %>
				<% end  %>
				
			</div>
			<p class="address"><%= c.address.address %>, <%= c.address.area %></p>

			<% unless c.max_capacity.nil? %>
			<p class="capacity">Capacity :&nbsp;&nbsp;Upto&nbsp;<%= c.max_capacity %></p>
			<% end %>
			<p class="address">Landmark : <%= c.address.landmark %></p>
			<% if c.view_available %>
			<div style="margin-top:15px;position:relative;">
				<%= link_to 'View venue', view_venues_path(:venue => c.id), :class => "btn btn-primary btn-small search-button" %>
			</div>
			<% end %>

			<% @hallTypes.each do |ht| %>
				<% @hall_count = 0 %>
				<% c.halls.each do |h| %>
					<% if ht == h.hall_type %>
						<% @hall_count = @hall_count + 1 %>
					<% end %>
				<% end %>
				<% if @hall_count > 0 %>
					<% ht = ht + 's' if @hall_count > 1 %>
					<span class="numRooms"><%= ht + ' (' + @hall_count.to_s + ')'  %></span>&nbsp;
				<% end %>
			<% end %>
		</div>
	</div>
	<% end %>
	<div class="navigation">
	<%= (((@query.page_number.to_i-1)*10)+1).to_s + ' to ' +  [@query.page_number.to_i*10, @count].min.to_s + ' of ' + @count.to_s  unless @count == 0 %>
	<% if @count > 10%>
		<% if @query.page_number.to_i == 1 %>
			<a href="#" class="btn btn-primary btn-small nav-button disabled" style="pointer-events: none;cursor: default;">&lt; Prev</a>
		<% else %>
			<a href="#" class="btn btn-primary btn-small nav-button" onclick="prev_click();" >&lt; Prev</a>
		<% end %>
		<% if (@query.page_number.to_i*10)>=@count %>
			<a href="#" class="btn btn-primary btn-small nav-button disabled" style="pointer-events: none;cursor: default;" >Next &gt;</a>
		<% else %>
			<a href="#" class="btn btn-primary btn-small nav-button" onclick="next_click();" >Next &gt;</a>
		<% end %>
	<% end%>
</div>

	
</div>
