<h1>Listing venues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>NumHalls</th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.Name %></td>
    <td><%= venue.Type %></td>
    <td><%= venue.NumHalls %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
