<% @options = populateSearchCriteria %>
<% @selectedArea = @query.areas.first %>

<div class="row">
	<div class="filters span2" style="margin-top:5px;">
		<h5>Areas</h5>
		<input class="span2" type="text" id="areaSearchKey" onkeyup='textChanged(<%= raw @options.areas %>)'> </input>

		<ul id="area">
			<% @options.areas.each do |c| %>
			<li id="<%= c.to_s.gsub(/\s+/, "") %>" style="cursor:pointer;"> 
				<a>
					<%= if(@selectedArea == c) 
							check_box_tag 'chk_area_' + c.to_s.gsub(/\s+/, ""), c.to_s, true, :onchange => 'searchFired();'
						else
							check_box_tag 'chk_area_' + c.to_s.gsub(/\s+/, ""), c.to_s, false, :onchange => 'searchFired();'
					end %>
					<span><%= c %> </span>
				</a>
			</li>
			<% end %>
		</ul>

		<h5>Capacity</h5>
		<ul id='cap'>
			<%  @options.capacity.each do |c| %>
			<li id="<%= c.to_s.gsub(/\s+/, "") %>"> 
				<a>
					<%= check_box_tag 'chk_cap_' + c.to_s.gsub(/\s+/, ""), c.to_s, false, :onclick => 'searchFired();' %> 
					<span><%= c %> </span>
				</a>
			</li>
			<% end %>
		</ul>
		
		<h5>Budget</h5>
		<ul id='bud'>
			<%  @options.budget.each do |b| %>
			<li id="<%= b.to_s.gsub(/\s+/, "") %>"> 
				<%= check_box_tag 'chk_bud_' + b.to_s.gsub(/\s+/, ""), b.to_s, false, :onclick => 'searchFired();' %> 
				<a>
					<span><%= b %> </span>
				</a>
			</li>
			<% end %>
		</ul>


		<h5>Amenities</h5>
		<ul id='am'>
			<%  @options.amenities_name.each_with_index do |a, index| %>
			<li id="<%= a.to_s.gsub(/\s+/, "") %>"> 
				<%= check_box_tag 'chk_am_' + a.to_s.gsub(/\s+/, ""), @options.amenities_val[index], false, :onclick => 'searchFired();' %> 
				<a>
					<span><%= a %> </span>
				</a>
			</li>
			<% end %>
		</ul>


	</div>
	<%= select_tag(:eventType, options_for_select(@options.eventType, @query.eventType), {:style => "float:right", :onchange => 'searchFired();', :prompt => "select an event"}) %>
	<div class="span9" style="margin-top:10px;margin-left:80px;">
		<div id="results_div">
			<%= render partial: 'venues/results', locals: { :venues => @venues } %>
		</div>
	</div> 
</div>
<%= javascript_include_tag "venues.js" %>