<% @options = populateSearchCriteria %>

<div class="row">
	<div class="filters span2" style="margin-top:75px;">
		<h5>Areas</h5>
		<input class="span2" type="text" id="areaSearchKey" onkeyup='textChanged(<%= raw @options.areas %>)'> </input>

		<ul>
			<% @options.areas.each do |c| %>
			<li id="<%= c %>"> 
				<a>
					<%= check_box_tag "something" %> 
					<span><%= c %> </span>
				</a>
			</li>
			<% end %>
		</ul>

		<h5>Capacity</h5>
		<ul>
			<%  @options.capacity.each do |c| %>
			<li id="<%= c %>"> 
				<a>
					<%= check_box_tag 'cap_'+c.to_s %> 
					<span for=<%= 'cap_'+c.to_s %>><%= c %> </span>
				</a>
			</li>
			<% end %>
		</ul>
		
		
		<h5>Meal Option</h5>
		<ul>
			<%  @options.mealOptions.each do |m| %>
			<li id="<%= m %>"> 
				<%= check_box_tag "something" %> 
				<a>
					<span for="something"><%= m %> </span>
				</a>
			</li>
			<% end %>
		</ul>
		

		<h5>Budget</h5>
		<ul>
			<%  @options.budget.each do |b| %>
			<li id="<%= b %>"> 
				<%= check_box_tag "something" %> 
				<a>
					<span for="something"><%= b %> </span>
				</a>
			</li>
			<% end %>
		</ul>


		<h5>Amenities</h5>
		<ul>
			<%  @options.amenities.each do |a| %>
			<li id="<%= a %>"> 
				<%= check_box_tag "something" %> 
				<a>
					<span for="something"><%= a %> </span>
				</a>
			</li>
			<% end %>
		</ul>


	</div>
	<div class="span9" style="margin-top:10px;margin-left:80px;">
		<div style="margin-left:40px; margin-bottom:20px;">
			<%= select_tag :event, options_for_select(@options.eventType), { :prompt => 'Event Type'} %>
			<%= select_tag :area, options_for_select(@options.areas), { :prompt => 'Area'} %>

		</div>


		<div class="SearchResults">
			<%= image_tag('3.jpg', :class => "venue-img") %>

			<div style="margin-left:190px">
				<h3>Ambika Empire  |  Luxury business hotel</h3>
				<div>
					<%= image_tag('parking.png', :class => "venue-icons") %>
					<%= image_tag('nv.png', :class => "venue-icons") %>
					<%= image_tag('alcohol.png', :class => "venue-icons") %>
					<%= image_tag('credcard.png', :class => "venue-icons") %>
					<%= image_tag('restaurant.png', :class => "venue-icons") %>
				</div>
				<p class="address">#71, Nehru Salai, Vadapalani</p>

				<p class="capacity"> Up to 100</p>
				<p class="address">Landmark : Vadapalani Junction</p>

				<div style="margin-top:15px;position:relative;">
					<p><a href="#" class="btn btn-primary btn-small search-button">View venue</a></p>
					<p><a href="#" class="btn btn-primary btn-small search-button">? Enquiry</a></p>
					<p><a href="#" class="btn btn-primary btn-small search-button">Book now</a></p>
				</div>
				<p class="numRooms">3 rooms</p><br />
			</div>
		</div>
		<div class="SearchResults">

			<%= image_tag('2.jpg', :class => "venue-img") %>

			<div style="margin-left:190px">
				<h3>GRT Grand  |  Business hotel</h3>
				<div>
					<%= image_tag('parking.png', :class => "venue-icons") %>
					<%= image_tag('nv.png', :class => "venue-icons") %>
					<%= image_tag('alcohol.png', :class => "venue-icons") %>
					<%= image_tag('credcard.png', :class => "venue-icons") %>
					<%= image_tag('restaurant.png', :class => "venue-icons") %>
					<p class="address">#42, Panagal Park, T Nagar</p>
				</div>
				<div>
					<p class="capacity"> Up to 300</p>
					<p class="address">Landmark : Near Pothys</p>
				</div>
				<div style="margin-top:15px;position:relative;">
					<p><a href="#" class="btn btn-primary btn-small search-button">View venue</a></p>
					<p><a href="#" class="btn btn-primary btn-small search-button">? Enquiry</a></p>
					<p><a href="#" class="btn btn-primary btn-small search-button">Book now</a></p>
					<p class="numRooms">1 room</a></p><br />
				</div>
			</div>
		</div>
	</div> 
</div>