<% @suitable = '' 
@venue.suitable_events.each do |a| 
    @suitable = @suitable+a.name+', ' 
end%>
<%= hidden_field_tag 'venue_id', @venue.id %>
<div class="row-fluid">
  <div>
    <h4><%= @venue.name %>, <%= @venue.venue_type %></h4>
    <h6><%= @venue.address.address %>, <%= @venue.address.area %></h6>
  </div>
  <div id="star"></div>
  <div>

  </div>
</div>
<div id="show_venue">
  <div class="row-fluid">
    <div class="span3 venue-img-div">
      <% if @venue.images.count==0 %> 
        <%= image_tag('venue.jpg', :class => "venue-img") %>
      <%else%>
        
          <ul class="span3 bxslider">
            <%@venue.images.each do |i| %>
                <li>
                  <%= image_tag(url_for(:controller => "venues", :action => "show_image", :image_id => i.id), :class => "venue-img")%>
                </li>
            <%end%>
          </ul>
        
    <%end %>
     </div>
     <div class="span6 venue-amenities">
      <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @venue.description %></p>


        <div class="span4 amenities-div">
          <ul>
            <li>
              <%= unless @venue.min_capacity.nil? 
                image_tag('capacity.jpg') + ' ' + @venue.min_capacity.to_s + '-' + @venue.max_capacity.to_s
                end %>
            </li>
            <li>
                <%= if @venue.facility != nil && @venue.facility.has_parking?
                  image_tag('parking.png') + ' Valet Parking'
                  end %>
            </li>
            <li>
                <%= if @venue.facility != nil && @venue.facility.is_alcohol_allowed?
                  image_tag('alcohol.png') + ' Alcohol allowed'
                end %>
            </li>
            <li>
                <%= if @venue.facility != nil && @venue.facility.has_bar?
                  image_tag('stage.jpg') + ' Stage available'
                end %>
            </li>
          </ul>
        </div>

        <div class="span4 amenities-div">
          <ul>
            <li>
              <%= if @venue.facility != nil && @venue.facility.airconditioning?
                image_tag('ac.jpg') + ' Air Conditioning'
              end %>
            </li>
            <li>
              <%= if @venue.facility != nil && @venue.facility.has_dance_floor?
                image_tag('dj.jpg') + ' Dance floor'
              end %>
            </li>
            <li>
              <%= if @venue.rate != nil && @venue.rate.veg_plate_cost?
                image_tag('veg.gif') + ' Cost/Plate Rs:' + @venue.rate.veg_plate_cost.to_s
              end %>
            </li>
            <li>
              <%= if @venue.rate != nil && @venue.rate.nonveg_plate_cost?
                image_tag('nv.png') + ' Cost/Plate Rs:' + @venue.rate.nonveg_plate_cost.to_s
              end %>
            </li>    
                
        </div>
      </div>

    </div>

    <div class="row-fluid view-suit">
      <%= unless @suitable == ''
        content_tag(:span, 'Suitable for ' + @suitable[0..(@suitable.length-3)])  
      end%>
    </div>          
        </br>
        <div class="row-fluid">
        <div id="halls-div" class="span6">
          <table id="halls" class="table table-bordered halls-table">
            <tr>
              <td>Hall name</td>
              <td>Theatre</td>
              <td>U-Shape</td>
              <td>Double-U</td>
              <td>Classroom</td>
              <td>Board</td>
              <td>Roundtable</td>
            </tr>
            <% @venue.halls.each do |h| %>
            <% unless h.seating_arrangement.nil? %>
            <tr>
              <td><%= h.name %></td>
              <td>
                <%= if h.seating_arrangement.capacity_theatre.nil? 
                  '-'
                else
                  h.seating_arrangement.capacity_theatre
                end %>
              </td>
              <td>
                <%= if h.seating_arrangement.capacity_ushape.nil? 
                  '-'
                else
                  h.seating_arrangement.capacity_ushape
                end %>
              </td>
              <td>
                <%= if h.seating_arrangement.capacity_doubleu.nil? 
                  '-'
                else
                  h.seating_arrangement.capacity_doubleu
                end %>
              </td>
              <td>
                <%= if h.seating_arrangement.capacity_classroom.nil? 
                  '-'
                else
                  h.seating_arrangement.capacity_classroom
                end %>
              </td>
              <td>
                <%= if h.seating_arrangement.capacity_board.nil? 
                  '-'
                else
                  h.seating_arrangement.capacity_board
                end %>
              </td>
              <td>
                <%= if h.seating_arrangement.capacity_roundtable.nil? 
                  '-'
                else
                  h.seating_arrangement.capacity_roundtable
                end %>
              </td>
            </tr>
            <% end %>
            <% end %>
          </table>
        </div>
        <% unless @venue.highlights.count == 0 %>
          <div class="span2 highlights-div">
            <p style="font-size:18px; text-align:centre;">Highlights</p>
            <% @venue.highlights.each do |h| %>
              <label><%= h.highlight %></label>
            <%end%>
          </div>
        <%end%>
      </div></br>

      
      <div id="reviews_div">
          <div id="new-review">
            <%= render partial: 'reviews/form', locals: { :venues => @venue, :review => @review } %>
          </div>
      </div>
</div>