<p id="notice"><%= notice %></p>

<p>
  <b>Venue:</b>
  <%= @contact.venue %>
</p>

<p>
  <b>Firstname:</b>
  <%= @contact.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @contact.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Stdcode:</b>
  <%= @contact.stdcode %>
</p>

<p>
  <b>Landline number:</b>
  <%= @contact.landline_number %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @contact.mobile_number %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
