

<% content_for :title, "All Venues" %>
<h3>Venues</h3>
<%= link_to raw('<i class="icon-white icon-plus"></i> Add new venue'), new_venue_path, :class => "btn btn-success fl" %>
<button id="btnClearVenueFilter" class="btn fr">Clear</button>
<%= autocomplete_field_tag 'name', @search_box_text, autocomplete_venue_name_admin_venues_path, 
			 :placeholder => 'Search for a venue name...', :id => 'venue_search', :size => 75, :class => 'fr' %>
<br />

<div class="row-fluid">
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Area</th>
			<th>Contact Person</th>
			<th>Email</th>
			<th>Mobile</th>
			<!-- <th>User</th> -->
			<th>Date</th>
			<th>Approved?</th>
			<th>View?</th>
			<th>Booking?</th>
			<th>Plan</th>
			<th>Owner</th>
			<th></th>
		</tr>
		<% @id = 1 %>
		<% @venues.each do |venue| %>
		<% user = venue.user || User.new %>
		<tr>
			<td><%= @id %></td> <% @id = @id + 1 %>
			<td><%= venue.name %></td>
			<td><%= venue.address.area %></td>
			<td><%= venue.contact.firstname %> <%= venue.contact.lastname %></td>
			<td><%= venue.contact.email %></td>
			<td><%= venue.contact.mobile_number %></td>

			<td><%= venue.updated_at.to_date %> </td>
			<!-- <td><%= user.name %>[<%= user.email %>]</td> -->
			<td><%= best_in_place venue, :is_approved, :type => :checkbox %></td>
			<td><%= best_in_place venue, :view_available, :type => :checkbox %></td>
			<td><%= best_in_place venue, :booking_available, :type => :checkbox %></td>
			<td><%= best_in_place venue, :plan, :type => :select, :collection => @all_plans %></td>
			<td><%= best_in_place venue, :user_id, :type => :select, :collection => @all_users %></td>
			<td>
				<%= link_to raw('<i class="icon-eye-open"></i>'), venue, :rel => "modal:open", :title => "View Venue" %>&nbsp;| 
				<%= link_to raw('<i class="icon-pencil"></i>'), edit_venue_path(venue), :title => "Edit Venue" %>&nbsp;| 
				<%= link_to raw('<i class="icon-trash"></i>'), admin_venue_path(venue), method: :delete, data: { confirm: 'Are you sure you want to delete this venue?' }, :title => "Delete Venue" %>
			</td>
		</tr>
		<% end %>
	</table>
	<div class="flickr_pagination">
		<%= paginate @venues, :container => false %>
	</div>
</div>