<div class="row-fluid">
	<div class="span12">
		<div>
			<h3>Already have an account? Sign in!</h3>
			<h4>Login with Facebook or Google or Twitter!</h4>
			<h5>(We will not post or like anything without your consent)</h5>
			<div class="offset1">
				<%= render "devise/shared/facebook_login" %>
			</div>
			<div class="offset2">
				<%= render "devise/shared/google_login" %>
				<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
			</div>
		</div>
		<hr />
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"} ) do |f| %>
		<div class="control-group">
			<%= f.label :email, class:"control-label" %>
			<div class="controls"><%= f.email_field :email, :autofocus => true %></div>
		</div>
		<div class="control-group">
			<%= f.label :password, class:"control-label" %>
			<div class="controls"><%= f.password_field :password %></div>
		</div>
		<div class="control-group">
			<div class="controls">
				<% if devise_mapping.rememberable? %>
				<%= f.label :remember_me , class: "checkbox" do %>
				<%= f.check_box :remember_me %>Remember me?
				<% end %>
				<% end %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= f.submit "Sign in" %>
			</div>
			<div class="offset6">
				<% if devise_mapping.recoverable? && controller_name != 'passwords' %>
				<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
</div>