<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Venue</th>
    <th>Address</th>
    <th>Area</th>
    <th>Landmark</th>
    <th>Phone numbers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.venue %></td>
    <td><%= address.address %></td>
    <td><%= address.area %></td>
    <td><%= address.landmark %></td>
    <td><%= address.phone_numbers %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
