<p id="notice"><%= notice %></p>

<p>
  <b>Venue:</b>
  <%= @address.venue %>
</p>

<p>
  <b>Address:</b>
  <%= @address.address %>
</p>

<p>
  <b>Area:</b>
  <%= @address.area %>
</p>

<p>
  <b>Landmark:</b>
  <%= @address.landmark %>
</p>

<p>
  <b>Phone numbers:</b>
  <%= @address.phone_numbers %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
