<div class="control-group">
	<%= f.label :email, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :email %>
	</div>
</div>

<div class="control-group">
	<%= f.label :mobile, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :mobile %>
	</div>
</div>

<div class="control-group">
	<%= f.label :password, :class => 'control-label' %>
	<div class="controls">
		<%= f.password_field :password %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password_confirmation, :class => 'control-label' %>
	<div class="controls">
		<%= f.password_field :password_confirmation %>
	</div>
</div>

<div class ="control-group">
	<label class="control-label">User Roles:</label>
	<div class="controls">
		<% for role in Role.find(:all) %>
		<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
		<%= role.name.humanize %>&nbsp;
		<% end %>
	</div>
</div>

<div class="actions">
	<button class="btn btn-success" type="submit">Save</button> or
	<%= link_to "Cancel", admin_path %>
</div>