<h1>Venue Images</h1>
<% @images = @venue.images %>
<% @image = Image.new%>
<%= form_for [@venue, @image], :remote => true,  :html => {:multipart => true, :class => "ajax_form"} do |v| %>

<div class="actions">
	<%= v.submit "Upload Image", :class => "btn btn-success fr" %>
</div>

<div>
	
		
		<div class="control-group">
			<%= v.label(:image, "Venue Image:", class:"control-label") %>
			<div class="controls"><%= v.file_field :image%></div>
		</div>
		<div class="control-group">
			<%= v.label(:caption, "Caption:", class:"control-label") %>
			<div class="controls"><%= v.text_field :caption %></div>
		</div>
		<% @images.each_with_index do |h, i| %>
			<div>
				<%= image_tag url_for(:controller => "venues", :action => "show_image", :image_id => h.id), :class => "venue-img"  %>
				<%= h.caption %>
				<%= link_to('x', venue_image_path(@venue,h), method: :delete,:remote=>true, :id=>"show_modal")%>
			</div>
		<%end%>
	
</div>

<%end%>