<h1>Basic Venue Information</h1>

<%= form_for @venue, :validate => true, :html => {:class => "form-horizontal"} do |f| %>
<% 
	@venueTypes = getOptions('VenueType')
	@areas = getOptions('Area')
%>

<div class="actions">
	<%= f.submit "Save Changes", :class => "btn btn-success fr" %>
</div>

<div>
	<%= image_tag url_for(:controller => "venues", :action => "show_image", :id => @venue.id) unless @venue.new_record? %>
</div>

<div id="venueBasicContent">
	<div class="control-group">
		<%= f.label(:name, "Venue Name:", class:"control-label") %>
		<div class="controls"><%= f.text_field :name %></div>
	</div>
	<div class="control-group">
		<%= f.label(:venue_type, "Venue Type:", class:"control-label") %>
		<div class="controls"><%= f.select(:venue_type, @venueTypes) %></div>
	</div>
	<div class="control-group">
		<%= f.label(:description, "Venue Description:", class:"control-label") %>
		<div class="controls"><%= f.text_field :description %></div>
	</div>
	<div class="control-group">
		<%= f.label(:base_image, "Venue Image:", class:"control-label") %>
		<div class="controls"><%= f.file_field :base_image%></div>
	</div>

	<%= f.fields_for :address do |a| %>

	<div class="control-group">
		<%= a.label(:address, "Address:", class:"control-label") %>
		<div class="controls"><%= a.text_field :address %></div>
	</div>
	
	<div class="control-group">
		<%= a.label(:area, "Area:", class:"control-label") %>
		<div class="controls"><%= a.select(:area, @areas) %></div>
	</div>

	<% end %>

	<div class="control-group">
		<%= f.label(:website, "Website:", class:"control-label") %>
		<div class="controls"><%= f.text_field :website %></div>
	</div>

	<%= f.fields_for :contact do |c| %>
	<div class="roundedBorder">
		<div class="control-group">
			<%= c.label(:firstname, "Contact Person:", class:"control-label") %>
			<div class="controls"><%= c.text_field :firstname, :class => "contactname" %>
				<%= c.text_field :lastname, :class => "contactname" %></div>
			</div>
			<div class="control-group">
				<%= c.label(:email, "Email:", class:"control-label") %>
				<div class="controls"><%= c.text_field :email %></div>
			</div>
			<div class="control-group">
				<%= c.label(:landline_number, "Landline #:", class:"control-label") %>
				<div class="controls"><%= c.text_field :landline_number %></div>
			</div>
			<div class="control-group">
				<%= c.label(:mobile_number, "Mobile #:", class:"control-label") %>
				<div class="controls"><%= c.text_field :mobile_number %></div>
			</div>
		</div>
		<% end %>
	</div>

	<% end %>
