<hr />
<div class="row" id="footerLists">
	<div class="span3">
		<h4>About JollyEvents</h4>
		<ul>
			<li><%= link_to "About Us", "#" %></li>
			<li><%= link_to "How it works", "#" %></li>
			<li><%= link_to "Contact Us", "#" %></li>
			<li><%= link_to "FAQ", "#" %></li>
			<li><%= link_to "Blog", "#" %></li>
		</ul>
	</div>
	<div class="span3">
		<h4>For Event Planners</h4>
		<ul>
			<li><%= link_to "Search Venue", "#" %></li>
			<li><%= link_to "Venue Collections", "#" %></li>
			<li><%= link_to "My Events", "#" %></li>
			<li><%= link_to "Testimonials", "#" %></li>
		</ul>
	</div>
	<div class="span3">
		<h4>For Venue Owners</h4>
		<ul>
			<li><%= link_to "Add Venue", "#" %></li>
			<li><%= link_to "My Venue", "#" %></li>
			<li><%= link_to "Advertising", "#" %></li>
			<li><%= link_to "Deals & Offers", "#" %></li>
		</ul>
	</div>
	<div class="span3">
		<h4>Popular Events</h4>
		<ul>
			<li><%= link_to "Birthday Party", "#" %></li>
			<li><%= link_to "Wedding", "#" %></li>
			<li><%= link_to "Reception", "#" %></li>
			<li><%= link_to "Corporate Meetings", "#" %></li>
		</ul>
	</div>
</div>
<hr />
<footer>
	<p>&copy; JollyEventz 2013</p>
</footer>