<div id="footer" class="container" role="contentinfo">
	<hr />
	<div class="row-fluid">
		<div id="footerDesc" >
			JollyEventz is your companion for event planning. You can search, find and compare venues (based on capacity, location, price, type of space and event type) and also make a booking - at the comfort of your home or office with just a few clicks.
		</div>
	</div>
	<div class="row-fluid" id="footerLists">
		<div class="offset1 span2">
			<h5>About JollyEvents</h5>
			<ul>
				<li><%= link_to "About Us", home_about_path %></li>
				<li><%= link_to "How it works", placeholder_path %></li>
				<li><%= link_to "Contact Us", new_feedback_path, :rel => "modal:open", :remote => true %></li>
				<li><%= link_to "FAQ", home_faq_path %></li>
			</ul>
		</div>
		<div class="span2">
			<h5>For Event Planners</h5>
			<ul>
				<li><%= link_to "Search Venue", search_venues_path %></li>
				<li><%= link_to "My Events", placeholder_path %></li>
				<li><%= link_to "Rate & Review", placeholder_path %></li>
				<li><%= link_to "Book Venue", placeholder_path %></li>
			</ul>
		</div>
		<div class="span2">
			<h5>For Venue Owners</h5>
			<ul>
				<li><%= link_to "Add Venue", new_venue_path %></li>
				<li><%= link_to "My Venues", venues_path %></li>
				<li><%= link_to "Dashboard", user_root_path %></li>
				<li><%= link_to "Account Details", user_root_path %></li>
			</ul>
		</div>
		<div class="span2">
			<h5>Popular Events</h5>
			<ul>
				<li><%= link_to "Birthday Party", search_venues_path(:eventType => "Birthday Party") %></li>
				<li><%= link_to "Wedding", search_venues_path(:eventType => "Wedding") %></li>
				<li><%= link_to "Reception", search_venues_path(:eventType => "Reception") %></li>
				<li><%= link_to "Corporate Meetings", search_venues_path(:eventType => "Corporate Meeting") %></li>
				<li><%= link_to "<More Events>", search_venues_path %></li>
			</ul>
		</div>
		<div class="span2">
			<h5>Popular Locations</h5>
			<ul>
				<li><%= link_to "Adyar", search_venues_path(:areas => "Adyar") %></li>
				<li><%= link_to "Vadapalani", search_venues_path(:areas => "Vadapalani")  %></li>
				<li><%= link_to "Anna Nagar", search_venues_path(:areas => "Anna Nagar")  %></li>
				<li><%= link_to "Tambaram", search_venues_path(:areas => "Tambaram")  %></li>
				<li><%= link_to "<More Locations>", search_venues_path %></li>
			</ul>
		</div>
	</div>
	<hr />
	<div class="row-fluid">
		<div class="pull-left">
			&copy; GeoVerge Technologies Private Limited
		</div>
		<div class="pull-right">
			<%= link_to "Privacy Policy", home_privacy_path %> | 
			<%= link_to "Site Terms of Use", home_terms_path %>
		</div>
	</div>
</div>
