<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '337836476319124',                        // App ID from the app dashboard
      channelUrl : '//JOLLYEVENTZ.HEROKUAPP.COM/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_GB/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<div id="notification-bar">
	<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
	<% end %>
</div>

<div class="navbar navbar-fixed-top" id="customNav" >
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/home/index">
				<h1><span style="color:#f88534;">Jolly</span>Eventz</h1>
			</a>
			<br />
			<span class="brand hidden-phone visible-tablet visible-desktop">&nbsp;|&nbsp;Chennai</span>
			
			<div id="navLinkText" class="nav-collapse collapse">
				<ul class="nav nav-pills pull-right">
					<li class="<%= 'active' if current_page?(placeholder_path) %>"><%= link_to "How It Works", placeholder_path %></li>
					<li class="<%= 'active' if current_page?(search_venues_path) %>"><%= link_to "Venue Search", search_venues_path %></li>
					<li ><%= link_to "Blog", placeholder_path %></li>
					<li><%= link_to "Venue Owners", venues_path %></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Profile <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<% if user_signed_in? %> 
							<li><%= link_to current_user.email, edit_user_registration_path %></li>
							<li><%= link_to "Sign out", destroy_user_session_path %></li>
							<% else %> 
							<li><%= link_to "Sign up", new_user_registration_path %></li> 
							<li><%= link_to "Sign in", new_user_session_path, :rel => "modal:open" %></li>
							<% end %>
						</ul>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div id="headerBottom" class="container">
		<div id="contactInHeader">
			<span>Phone: <%= link_to "044-4201 2386", '#' %></span>
		</div>
		<div id="socialIcons">
			<div class="fb-wrap">
				<div class="fb-like" data-href="https://www.facebook.com/JollyEventz" data-send="false" data-layout="box_count" data-width="100" 
				data-show-faces="false"></div>
			</div>
			<div class="tw-wrap">
				<a href="https://twitter.com/JollyEventz" class="twitter-follow-button" data-width="60px" data-show-count="false" data-lang="en">Follow @JollyEventz</a>
			</div>
			<div class="gp-wrap">
				<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://www.jollyeventz.com"></div>
			</div>
		</div>
		<div id="socialLinks" class="hidden-phone visible-tablet visible-desktop">
				<!-- <form class="navbar-search pull-left">
					<input type="text" class="search-query" placeholder="Search">
				</form> -->
				<%= link_to image_tag('twitter.png'), 		"https://twitter.com/JollyEventz", :target => "_blank" %>
				<%= link_to image_tag('facebook.png'), 		"https://www.facebook.com/JollyEventz", :target => "_blank" %>
				<%= link_to image_tag('google-plus.png'), 	"#", :target => "_blank" %>
				<%= link_to image_tag('blogger.png'), 		"http://www.jollyeventz.com/blog", :target => "_blank" %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>