<div id="fb-root"></div>
<div id="notification-bar">
	<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
	<% end %>
</div>

<div class="navbar navbar-fixed-top" id="customNav" role="banner">
	<div class="navbar-inner">
		<div id="headerTop" class="container" role="navigation">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/home/index">
				<h1><span style="color:#f88534;">Jolly</span>Eventz</h1>
			</a> -->
			<div id="header-logo">
				<%= link_to image_tag('header.png', :size => "451x65"), root_path, :class=>"fl" %>
			
			<div id="navLinkText" class="nav-collapse collapse">
				<ul class="nav nav-pills pull-right">
					<li class="<%= 'active' if current_page?(search_venues_path) %>"><%= link_to "Venue Search", search_venues_path %></li>
					<li class="<%= 'active' if current_page?(venues_path) %>"><%= link_to "Venue Owners", venues_path %></li>
					<li class="<%= 'active' if current_page?(placeholder_path) %>"><%= link_to "About Us", placeholder_path %></li>
					<% if user_signed_in? %> 
					<li><%= link_to current_user.name.presence || current_user.email, user_root_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path %></li>
					<% else %> 
					<li><%= link_to "Login", new_user_session_path, :rel => "modal:open", :id => "login-form" %></li>
					<li><%= link_to "Register", new_user_registration_path, :rel => "modal:open" %></li> 
					<% end %>
				</ul>
			</div>
			</div>
		</div>
		<div id="headerBottom" class="container">
			<div id="socialIcons">
				<div class="tw-wrap">
					<a href="https://twitter.com/JollyEventz" class="twitter-follow-button" data-width="60px" data-show-count="false" data-lang="en">Follow @JollyEventz</a>
				</div>
				<div class="gp-wrap">
					<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://www.jollyeventz.com"></div>
				</div>
				<div class="fb-wrap">
					<div class="fb-like" data-href="https://www.facebook.com/JollyEventz" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
				</div>
			</div>
			<span id="placeInHeader" class="brand hidden-phone">&nbsp;|&nbsp;Chennai</span>
			<div id="contactInHeader">
				<div class="hidden-phone">Need a venue for your event? Call <%= link_to "82200 43507", 'tel:8220043507' %></div>
				<div class="hidden-tablet hidden-desktop">Phone: <%= link_to "82200 43507", 'tel:8220043507' %></div>
			</div>
			<div id="socialLinks" class="hidden-phone visible-tablet visible-desktop">
				<%= link_to image_tag('twitter.png', :size => "34x35"), 		"https://twitter.com/JollyEventz",  :target => "_blank" %>
				<%= link_to image_tag('facebook.png', :size => "34x35"), 		"https://www.facebook.com/JollyEventz", :target => "_blank" %>
				<%= link_to image_tag('google-plus.png', :size => "34x35"), 	"#", :target => "_blank" %>
				<%= link_to image_tag('blogger.png', :size => "34x35"), 		"http://www.jollyeventz.com/blog", :target => "_blank" %>
			</div>
		</div>
	</div>
</div>