<!DOCTYPE html xmlns:fb="https://www.facebook.com/2008/fbml">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>JollyEventz - <%=h yield(:title) %></title>
	<meta name="description" content="Search and book venues and halls for birthdays, weddings, conferences and meetings in Chennai">
	<meta name="keywords" content="Book venues Chennai, find venue Chennai, Wedding venue Chennai, Birthday event Chennai, book conferece room">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Facebook OpenGraph stuff -->
	<meta property="og:title" content="JollyEventz" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="http://www.jollyeventz.com/header.png" /> -->
    <meta property="og:url" content="http://www.jollyeventz.com/" />
    <meta property="og:site_name" content="JollyEventz" />
    <meta property="og:description" content="Spending too much time searching for a venue? Relax, we'll find the right place for any event!" />
	<meta property="fb:app_id" content="#{ENV['FACEBOOK_ID']}" />

	<%= stylesheet_link_tag    	"application", :media => "all" %>

	<%= csrf_meta_tags %>
</head>
<body>
	<div class="mainWrapper">
		<%= render "layouts/header" %>
		<div class="container" id="bodyAndFooter" role="main">
			<%= yield %>
		</div>
		<div class="push"></div>
	</div>
	<div class="footerDiv">
		<%= render "layouts/footer" %>
	</div>
	<%= javascript_include_tag 'application' %>
</body>
</html>
