<!DOCTYPE html xmlns:fb="https://www.facebook.com/2008/fbml">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>JollyEventz</title>
	<meta name="description" content="Book venues Chennai, find venue Chennai, Wedding venue Chennai, Birthday event Chennai, book conferece room">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <%= stylesheet_link_tag		"http://fonts.googleapis.com/css?family=Open+Sans", :media => "all" %> -->
	<%= stylesheet_link_tag    	"application", :media => "all" %>

	<%= csrf_meta_tags %>
</head>
<body>
	<div class="mainWrapper">
		<%= render "layouts/header" %>
		<div class="container" id="bodyAndFooter">
			<%= yield %>
		</div>
		<div class="push"></div>
	</div>
	<div class="footerDiv">
		<%= render "layouts/footer" %>
	</div>
	<%= javascript_include_tag 'application' %>
</body>
</html>
